.login-container{
  
    padding: 3rem;
    align-items: center;
    text-align: center;
    min-width: none;
   
}

.login-form{
    text-align: left;
    align-items: center;
    justify-content: center;
}

.form-input{
  padding: .5rem;
  width: 13rem;
}

.btn-container{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}