

.welcome-body{
   
    max-width: 80em;
    min-width: 30em;
    max-height: 80em;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    

}